{% extends 'base.html' %}
{% block title  %} Register {% endblock %}
{% block content %}

<h1> Create a new account </h1>
<a>You will receive email notifications whenever a new post has been published.</a>
<hr />
<div class="container-fluid">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-control form-control-sm" type="text" aria-label=".form-control-sm example"></div>
        <br/>
    <button class='btn btn-auto'>Register!</button>
    
</div>
{% endblock %}

